<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title"> StudyStar </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn" (click)="redirectToHome()">Home</button>
        <button class="nav-btn" (click)="redirectToFlashcards()">Flashcards</button>
        <button class="nav-btn active" (click)="redirectToAgenda()">Agenda</button>
        <button class="nav-btn" (click)="redirectToDashboard()">Dashboard</button>
        <button class="nav-btn" (click)="redirectToStudyMethods()">Study Methods</button>
      </div>

      <ion-buttons slot="end" class="right-actions">
         <ion-button shape="round" class="profile-btn" (click)="signOut()">
          Log Out
        </ion-button>
        <ion-avatar class="profile-picture">
        <img src="https://cdn.pfps.gg/pfps/8250-default-18.png"/>
      </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="profile-page-items">
               <ion-card>
         @if(isMakingTask){
                <ion-input label="Enter Task" [(ngModel)]="toDoCreator">  </ion-input>
                <ion-input label="Enter Month" [(ngModel)]="monthCreator"> </ion-input>
                <ion-input label="Enter Day" [(ngModel)]="dayCreator"> </ion-input>
                <ion-input label="Enter Year" [(ngModel)]="yearCreator"> </ion-input>
                <ion-input label="Enter Priority" [(ngModel)]="priorityCreator"> </ion-input>
                <ion-button (click)="createTask()"> Submit </ion-button>
         }


              </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col><app-calendar></app-calendar></ion-col>

          <ion-col>

            <ion-card class="to-do-card">
              <ion-header class="ion-padding"> To-Do </ion-header>
              <ion-list>
                @for(task of taskList; track $index) {
                  <app-task [taskToDisplay]="task.taskToDo" ></app-task>
                }
              </ion-list>

            </ion-card>


            <ion-card class="upcoming-card">
              <ion-header class="ion-padding"> Upcoming </ion-header>
              <ion-list>
                @for(deadline of deadlineList; track $index) {
                  <app-deadline [deadlineToDisplay]="deadline"></app-deadline>
                }
              </ion-list>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button shape="round" class="add-task"> Add Event </ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" class="add-task" (click)="presentCreateDeadlineModal()"> Add Deadline </ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" class="add-task" (click)="presentCreateTaskModal()">
              Add Task
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</div>