<ion-content>
<ion-menu side="end" menuId="agenda" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- This is the menu content. -->
    <ion-list [inset]="true">
      <ion-item [button]="true" (click)="redirectToProfile()">
        <ion-icon color="7e4ca2" slot="start" name="star" size="large"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="redirectToFlashcards()">
        <ion-icon color="7e4ca2" slot="start" name="copy" size="large"></ion-icon>
        <ion-label>Flashcards</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="redirectToAgenda()">
        <ion-icon color="7e4ca2" slot="start" name="today" size="large"></ion-icon>
        <ion-label>Agenda</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="redirectToHome()">
        <ion-icon color="7e4ca2" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
       <ion-item [button]="true" (click)="redirectToLogin()">
        <ion-icon color="#8238b7" slot="start" name="person" size="large"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-title>
            StudyStars
          </ion-title>
        </ion-row>
      </ion-grid>
      <ion-buttons slot="end">
        <ion-menu-button (click)="openMenu()"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

   <div class="profile-page-items">
    <ion-grid>
      <ion-row>
      <ion-col><app-calendar></app-calendar></ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-card class="to-do-card">
  <ion-header class="ion-padding">
    To-Do
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Task 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 4</ion-label>
    </ion-item>
  </ion-list>
  </ion-card>
  <ion-card class="upcoming-card">
  <ion-header class="ion-padding">
    Upcoming
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Event 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Event 2</ion-label>
    </ion-item>
  </ion-list>
  </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
  <ion-button class="add-event">
Add Event
  </ion-button>
  </ion-col>
  <ion-col>
  <ion-button class="add-deadline">
Add Deadline
  </ion-button>
  </ion-col>
  <ion-col>
  <ion-button class="add-task">
Add Task
  </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
   </div>
   </div>
</ion-content>