.profile-page-items {
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-dark);
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;

}

.to-do-card {
    width: 40em;
    height: 20em;
    margin-top: 0px;
}

.upcoming-card {
    width: 40em;
    height: 13em;
    margin-top: 0px;
}

.add-event {
height: 5em;
width: 35em;
}

.add-deadline {
height: 5em;
width: 35em;
}

.add-task {
height: 5em;
width: 35em;
}