<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn" (click)="redirectToHome()">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn" (click)="redirectToAgenda()">
          Agenda
        </button>
        <button class="nav-btn active">
          Dashboard
        </button>
      </div>

      <ion-buttons slot="end" class="right-actions">
        <ion-avatar class="profile-picture">
        <img src="https://cdn.pfps.gg/pfps/8250-default-18.png"/>
      </ion-avatar>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="homepage-content">

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="profile-page-items ion-padding">
      <div class="dashboard-header">
        <p class="date-subtitle" style="text-align: left;">
          Welcome back. Let's check out some of your stats!
        </p>
      </div>
    </div>

   <div class="dashboard-first-card-row">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="dashboard-first-cards">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-icon name="flame-outline" style="color: rgb(168, 85, 247);" class="icon-formatting"></ion-icon>
                </ion-row>
                <ion-row class="big-dashboard-numbers">
                  <strong>{{ streakCount }}</strong>
                </ion-row>
                <ion-row>
                  Day Streak
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="dashboard-first-cards">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-icon name="copy-outline" style="color: rgb(168, 85, 247);" class="icon-formatting"></ion-icon>
                </ion-row>
                <ion-row class="big-dashboard-numbers">
                  <strong>64</strong>
                </ion-row>
                <ion-row>
                  Cards Today
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="dashboard-first-cards">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-icon name="time-outline" style="color: rgb(168, 85, 247);" class="icon-formatting"></ion-icon>
                </ion-row>
                <ion-row class="big-dashboard-numbers">
                  <strong>2.34</strong>
                </ion-row>
                <ion-row>
                  Study Hours This Week
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="dashboard-first-cards">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-icon name="checkmark-done-outline" style="color: rgb(168, 85, 247);" class="icon-formatting"></ion-icon>
                </ion-row>
                <ion-row class="big-dashboard-numbers">
                  <strong>3</strong>
                </ion-row>
                <ion-row>
                  Sets Mastered (Lifetime)
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding">
          <app-bar-chart class="bar-chart"></app-bar-chart>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                  Recent Activity
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>