<ion-header class="login-header-style">
  <ion-toolbar>
    <ion-title>Study Star</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card class="login-card">
  <ion-button class="login-button" size="small" fill="clear" (click)="login()">LOGIN</ion-button>
  <ion-button class="login-button" size="small" fill="clear" (click)="presentCreateModal()">Register New User</ion-button>
  <ion-header>
    Login
  </ion-header>
  <ion-input type="email" label="Email: " placeholder="" [(ngModel)]="emailIn"></ion-input>
  <ion-input type="password" label="Password: " placeholder="" [(ngModel)]="passwordIn"></ion-input>
</ion-card>
<div class="div-one"></div>