<mbsc-eventcalendar
  class="mds-tasks-calendar"
  [options]="extendedCalendarOptions"
  [groupBy]="myGroupBy"
  [data]="myEvents"
  [resources]="myResources"
>
  <ng-template #scheduleEvent let-event>
    <div class="mds-tasks-event-title" style="font-weight: bold; margin-bottom: 4px;">
      {{ event.title }}
    </div>
    
    <div *ngIf="event.original?.extendedProps?.tasks" class="mds-tasks-list" style="margin-bottom: 6px;">
      <div *ngFor="let task of event.original.extendedProps.tasks" class="mds-tasks-item">
        <label style="font-size: 0.85em; display: block; color: #555;">• {{ task }}</label>
      </div>
    </div>
    
    <button 
      ion-button 
      size="small" 
      (click)="addTask(event); $event.stopPropagation();"
      style="margin-top: 4px;"
    >
      Add Task
    </button>
  </ng-template>
</mbsc-eventcalendar>