<ion-header>
  <ion-toolbar>
    <ion-title class="text">New Task</ion-title>
    <ion-button class="background" slot="end" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input class="input-text" label="Task Name: " [(ngModel)]="taskName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="input-text" label="Task Month Due: " [(ngModel)]="taskMonth"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="input-text" label="Task Day Due: " [(ngModel)]="taskDay"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="input-text" label="Task Year Due: " [(ngModel)]="taskYear"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="input-text" label="Task Priority: " [(ngModel)]="taskPriority"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="background" slot="start" (click)="addTask()">Add Task</ion-button>
  </ion-toolbar>
</ion-footer>
