<ion-header>
  <ion-grid>
    <ion-row>
      <ion-title>
        {{flashcardSet.name}}
      </ion-title>

      <ion-item [button]="true" (click)="redirectToFlashcards()">

        <ion-icon name="close-circle-outline" color="danger">

        </ion-icon>

      </ion-item>

    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="first-div"></div>
      <app-confidence class="confidence-actual" [flashcardIn]="cardToDisplay">

      </app-confidence>
      <app-flashcard class="flashcard-actual" [flashcardIn]="cardToDisplay">

      </app-flashcard>
  <ion-button class="prev-button-style" (click)="previousCard()">
    Previous Card
  </ion-button>

  <ion-button class="next-button-style" (click)="nextCard()">
    Next Card
  </ion-button>

  <p class="progress-p-style">
    {{indexOfCards +1}}/{{flashcardSet.setOfCards.length}}
  </p>

    <ion-button class="next-button-style" (click)="nextCard()">
      Next Card
    </ion-button>

    <p class="progress-p-style">
      Progress: {{indexOfCards +1}}/{{flashcardSet.setOfCards.length}}
    </p>
    @if (cardToDisplay.frontSide == false){

    <app-confidence [flashcardIn]="cardToDisplay"></app-confidence>}

    @else{

    }
</ion-content>