.flashcard-actual{
    text-align: center;
}

.confidence-actual{
    position: relative;
    left: 24%;
}
.userFlashcards {
  height:28em;
  width: 40em;
}
.first-div{
    width: 100%;
    height: 2%;
}

.prev-button-style{
    left: 32%;
    width: auto;
    position: relative;
}

.next-button-style{
    left: 32%;
    width: auto;
    position: relative;
}

.progress-p-style{
    position: relative;
    left: 41%;
}

.set-name-card-style{
    height: 4%;
    width: 95%;
    left: 2%;
    padding-left: 1%;
    font-size: 32px;
    padding-right: 1%;
}

.second-div{
    height: 2.5%;
    width: 100%;
}

.progress-column{
    text-align: end;
}

.col-one{
    position: relative;
    width: fit-content;
}

.col-two{
    position: relative;
    width: fit-content;
}