.flashcard-actual{
    text-align: center;
}

.first-div{
    width: 100%;
    height: 25%;
}

.prev-button-style{
    left: 32%;
    width: auto;
    position: relative;
}

.next-button-style{
    left: 32%;
    width: auto;
    position: relative;
}

.progress-p-style{
    position: relative;
    left: 38.5%;
}

