#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.searchBar {
  max-width: unset;
  width: 30em;
}

.profile-page-items {
  padding: 1em;
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: #003d6b;
}

.tasks-card {
  padding: 1em;
    width: 40em;
    height: 23em;
    margin-top: 0px;
    color: #003d6b;
}
.dashboard-card {
  --background: #ffffff;
}
.dashboard-card ion-list,
.dashboard-card .suggestion-list {
  background: transparent !important;
  --background: transparent !important;
}
.dashboard-card ion-item,
.dashboard-card .suggestion-item {
  --background: transparent !important;
  background: transparent !important;

}
.custom-task-checkbox {
  --checkbox-background-checked: #b58ad3;
  --border-color-checked: #7e4ca2;
  --checkmark-color: #ffffff;
  --checkbox-background: #ecf7ff;

}
.date-subtitle{
  font-size: 40px;
  line-height: 0.5;
}
.date-title{
  font-size: 36px;
  line-height: 1.0;
}
.suggestions-title{
  font-size: 26px;
  text-align: center;
}
.tasks-header{
  font-size: 26px;
  text-align: center;
}
.sidebar-icon{
  icon-color:#7e4ca2;
}

ion-content.homepage-content {
  --background: #dcb5f7;
  --background: radial-gradient(circle, rgba(240, 214, 255, 1) 0%, rgba(196, 233, 255, 1) 100%);
}

ion-header ion-toolbar {
  --background: #8238B7;
  --background: linear-gradient(90deg,rgb(225, 199, 275) 0%, rgba(225, 199, 275, 1.0) 100%);
}