#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.searchBar {
  max-width: unset;
  width: 30em;
}

.profile-page-items {
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-dark);
}

.tasks-card {
    width: 40em;
    height: 20em;
    margin-top: 0px;
}