<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn active">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn" (click)="redirectToAgenda()">
          Agenda
        </button>
        <button class="nav-btn" (click)="redirectToDashboard()">
          Dashboard
        </button>
      </div>

      <ion-buttons slot="end" class="right-actions">
        <ion-button shape="round" fill="solid" class="profile-btn" (click)="redirectToProfile()">
          Profile
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="homepage-content">

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="profile-page-items ion-padding">
      <div class="dashboard-header">
        <h1 class="studyStar">
          StudyStar
        </h1>
        <p class="missionStatement">
          Welcome back Username!
        </p>

        <ion-grid>

          <ion-row>

            <ion-col>
              <ion-card class="flashcardCard" (click)="redirectToFlashcards()">
                <h1 class="card-title" style="text-align: center;">
                  Continue Studying
                </h1>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                <ion-card class="currentSetCard">
                  <img [src]="arrayOfSets[0].icon">
                </ion-card>
                </ion-col>
                </ion-row>
                </ion-grid>
                
                <h1>
                  {{arrayOfSets[0].name}}
                </h1>
              
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card class="flashcardCard" (click)="redirectToDashboard()">
                
                    <h1 class="card-title" style="text-align: center;">
                      Check Out Your Stats!
                    </h1>
                     <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="flame-outline" color="danger" class="flame"></ion-icon>
                    </ion-col>
                  </ion-row>
                     </ion-grid>
                      <h1 class=date-title>
                        7 Day Streak!
                      </h1>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="flashcardCard">
                <h1 class="card-title" style="text-align: center;">
                  Today's Tasks
                </h1>
                <p class="date-subtitle" style="text-align: center;">
                  {{ today | date:'MMMM d, y' }}
                </p>
                 @for(set of arrayOfSets; track $index) {
                  <ion-item class="suggestion-item">
                    <ion-icon name="checkmark" slot="start" color="dark-purple"></ion-icon>
                    <ion-label>
                      <ion-item [button]="true" (click)="redirectToStudyCards(set, $index)">{{set.name}}</ion-item>
                      <h3>{{set.category}}</h3>
                    </ion-label>
                    <ion-badge slot="end" color="#8238b7">20 mins</ion-badge>
                  </ion-item>
                }
              </ion-card>

            </ion-col>

          </ion-row>

        </ion-grid>
      </div>
    </div>