<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn active">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn" (click)="redirectToAgenda()">
          Agenda
        </button>
      </div>

      <ion-buttons slot="end" class="right-actions">
        <ion-button fill="solid" class="profile-btn" (click)="redirectToProfile()">
          Profile
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="homepage-content">

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="profile-page-items ion-padding">
      <div class="dashboard-header">
        <p class="date-subtitle" style="text-align: center;">
          Today's Date
        </p>
        <h1 class="date-title" style="text-align: center;">
          {{ today | date:'MMMM d, y' }}
        </h1>
      </div>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-card class="dashboard-card">
              <ion-card-header>
                <ion-card-title class="suggestions-title">
                  Study Suggestions
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none" class="dashboard-list">
                  @for(set of arrayOfSets; track $index) {
                  <ion-item class="suggestion-item">
                    <ion-checkbox slot="start" class="custom-task-checkbox"></ion-checkbox>
                    <ion-label>
                      <ion-item [button]="true" (click)="redirectToStudyCards(set)">
                        {{set.name}}
                      </ion-item>
                      <h3>
                        {{set.category}}
                      </h3>
                    </ion-label>
                    <ion-badge slot="end" color="#8238b7">
                      20 mins
                    </ion-badge>
                  </ion-item>
                  }
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-card class="dashboard-card">
              <ion-card-header>
                <ion-card-title class="tasks-header">
                  Today's Tasks
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="inset" class="dashboard-list">
                  <ion-item>
                    <ion-checkbox slot="start" class="custom-task-checkbox"></ion-checkbox>
                    <ion-label>
                      Task 1
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox slot="start" class="custom-task-checkbox"></ion-checkbox>
                    <ion-label>
                      Task 1
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox slot="start" class="custom-task-checkbox"></ion-checkbox>
                    <ion-label>
                      Task 1
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox slot="start" class="custom-task-checkbox"></ion-checkbox>
                    <ion-label>
                      Task 1
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</div>