<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn" (click)="redirectToHome()">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn" (click)="redirectToAgenda()">
          Agenda
        </button>
        <button class="nav-btn active" (click)="redirectToProfile()">
          Dashboard
        </button>
        <button class="nav-btn" (click)="redirectToStudyMethods()">
          Study Methods
        </button>
      </div>

      <ion-buttons slot="end" class="right-actions">
        <ion-button shape="round" class="profile-btn" (click)="signOut()">
          Log Out
        </ion-button>
        <ion-avatar>
          <img src="https://cdn.pfps.gg/pfps/8250-default-18.png" />
        </ion-avatar>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="homepage-content">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="profile-page-items">
      @if(currentUser) {
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="2">
            <ion-avatar class="profile-picture">
              <img src="https://cdn.pfps.gg/pfps/8250-default-18.png" />
            </ion-avatar>
            <h1 class="big-dashboard-numbers">
                {{currentUser.username}}
              </h1>
          </ion-col>
          <ion-col size="2">
            <ion-row>
              <ion-icon name="flame-outline" color="danger" class="icon-formatting"></ion-icon>
            </ion-row>
            <ion-row>
              <ion-col>
                <strong  class="big-dashboard-numbers">{{ streakCount }}</strong>
              </ion-col>
              <ion-col size="8">
                <p class="big-dashboard-numbers">
                  Day Streak
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <p class="date-title" style="text-align: center;">
        Welcome back. Let's check out some of your stats!
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card shape="round" class="profile-card">
              <h1>
                Email: {{currentUser.email}}
              </h1>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      }

      @else{
      <ion-button (click)="redirectToLogin()">
        Create A New Account Or Login To An Existing One
      </ion-button>
      }

    </div>
  </ion-content>