<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn" (click)="redirectToHome()">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn active" (click)="redirectToAgenda()">
          Agenda
        </button>
      </div>

      <ion-buttons slot="end" class="right-actions">
        <ion-button fill="solid" class="signOut-btn" (click)="signOut()">
          Log Out
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

    <div class="profile-page-items">
    
      <ion-avatar class="profile-picture">
        <img src="https://cdn.pfps.gg/pfps/8250-default-18.png"/>
      </ion-avatar>

      @if(currentUser) {
      <ion-card class="profile-card">
        <h1>
          Username: {{currentUser.username}}
        </h1>
        <h1>
          Email: {{currentUser.email}}
        </h1>
        <h1>
          Most Recent Study Set: {{currentUser.lastSet}}
        </h1>
        <h1>
          Sets Completed: {{currentUser.setsCompleted}}
        </h1>
      </ion-card>
      }
    </div>
 