.profile-page-items {
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-dark);
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;

}
.profile-page-items {
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: #003d6b;
  text-align: center;
  /* Add your font here */
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.profile-card {
  padding: 1.5rem;
  height:18em;
  width: 40em;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;

}

