.profile-page-items {
  margin-bottom: 30em;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-dark);
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;

}
