<ion-header>
  <ion-toolbar class="background">
    <ion-title class="date-title">Register Account</ion-title>
    <ion-button class="register-account" slot="end" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="register-account">
  <ion-card>
    <ion-list lines="none">
      <ion-item class="card-bg">
        <ion-input label="Email: " [(ngModel)]="regEmailIn"></ion-input>
      </ion-item>
      <ion-item class="card-bg">
        <ion-input label="Username: " [(ngModel)]="regUsernameIn"></ion-input>
      </ion-item>
      <ion-item class="card-bg">
        <ion-input label="Password: " type="password" [(ngModel)]="regPasswordIn"></ion-input>
      </ion-item>
      <ion-item class="card-bg">
        <ion-input label="Confirm Password: " type="password" [(ngModel)]="regPasswordConfIn"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="background">
    <ion-button class="register-account" slot="start" (click)="register()">Register Account</ion-button>
  </ion-toolbar>
</ion-footer>
