<ion-header>
  <ion-toolbar>
    <ion-title>New Account</ion-title>
    <ion-button slot="end" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input label="Email: " [(ngModel)]="emailIn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Username: " [(ngModel)]="usernameIn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password: " type="password" [(ngModel)]="passwordIn"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="newUser()">Register Account</ion-button>
  </ion-toolbar>
</ion-footer>
