<ion-header>
  <ion-toolbar>
    <ion-title class="text">New Task</ion-title>
    <ion-button class="background" slot="end" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input class="input-text" label="Deadline Name and date: " [(ngModel)]="deadlineName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="background" slot="start" (click)="addDeadline()">Add Deadline</ion-button>
  </ion-toolbar>
</ion-footer>
