<!-- <ion-grid>
  <ion-col>
    <ion-row class="header-text-alligned"> -->
      
    <!-- </ion-row>
    <ion-row> -->
      <ion-button shape="round" class="profile-btn" (click)="selectC(1)">
        (1) Unsure
      </ion-button>
      <ion-button shape="round" class="profile-btn" (click)="selectC(2)">
        (2) Familiar
      </ion-button>
      <ion-button shape="round" class="profile-btn" (click)="selectC(3)">
        (3) Learned
      </ion-button>
      <ion-button shape="round" class="profile-btn" (click)="selectC(4)">
        (4) Mastered
      </ion-button>
    <!-- </ion-row>
  </ion-col>
</ion-grid> -->
