<div class="ion-page" id="main-content">
  <ion-header class="header">
    <ion-toolbar class="nav-toolbar">
      <div slot="start" class="brand-container">
        <ion-icon name="star" class="logo-icon"></ion-icon>
        <span class="brand-title">
          StudyStar
        </span>
      </div>

      <div class="center-nav">
        <button class="nav-btn" (click)="redirectToHome()">
          Home
        </button>
        <button class="nav-btn" (click)="redirectToFlashcards()">
          Flashcards
        </button>
        <button class="nav-btn" (click)="redirectToAgenda()">
          Agenda
        </button>
        <button class="nav-btn" (click)="redirectToDashboard()">
          Dashboard
        </button>
        <button class="nav-btn active" (click)="redirectToStudyMethods()">
          Study Methods
        </button>
      </div>
      <ion-buttons slot="end" class="right-actions">
        <ion-button shape="round" class="fun-btn" (click)="signOut()">
          Log Out
        </ion-button>
        <ion-avatar class="profile-picture">
          <img src="https://cdn.pfps.gg/pfps/8250-default-18.png" />
        </ion-avatar>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-content class="homepage-content">

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <h1 class="studyStar">
      Explore New Ways To Study
    </h1>
    <h2 style="text-align: center;" class="date-subtitle">
      We provide the flashcards, then you pick the way YOU want to study!
    </h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="studyType">
            <ion-grid>
              <ion-row>
                <ion-col>
                <ion-icon name="flash-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                <ion-card shpae="round" class="profile-btn">
                  High Retention
                </ion-card>
                </ion-col>
              </ion-row>
              <h1 class="date-title">
                Leitner Box Method
              </h1>

              <h2 class="date-subtitle">
                Flashcard study system that helps you focus more on the information you struggle with.
                You place flashcards into different boxes based on how well you know them.
                Cards you know well are reviewed less often, while harder cards are reviewed more frequently until you
                remember them.
              </h2>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="studyType">
            <ion-grid>
              <ion-row>
                <ion-col>
                <ion-icon name="refresh-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                <ion-card shpae="round" class="profile-btn">
                  Most Effective
                </ion-card>
                </ion-col>
              </ion-row>
             <h1 class="date-title">
                Active Recall
              </h1>
              <h2 class="date-subtitle">
                You test yourself instead of just rereading notes.
                You try to remember information from memory by answering questions, explaining concepts, or using
                flashcards.
                This strengthens your ability to recall information during exams.
              </h2>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="studyType">
            <ion-grid>
              <ion-row>
                <ion-col>
                <ion-icon name="time-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                <ion-card shpae="round" class="profile-btn">
                  Most Popular
                </ion-card>
                </ion-col>
              </ion-row>
              <h1 class="date-title">
                Pomodoro Technique
              </h1>
              <h2 class="date-subtitle">
                Time-management method that breaks studying into short focused sessions.
                Typically, you study for 25 minutes and then take a 5-minute break.
                After completing several sessions, you take a longer break to rest and recharge.
              </h2>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="studyType">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-icon name="book-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-card shpae="round" class="profile-btn">
                  Deep Learning
                </ion-card>
                </ion-col>
              </ion-row>
              <h1 class="date-title">
                Feynman Techniques
              </h1>

              <h2 class="date-subtitle">
                Helps you understand difficult topics by explaining them in simple words.
                You pretend you are teaching the concept to someone else and identify areas where your explanation is
                unclear.
                This helps you find gaps in your knowledge and improve your understanding.
              </h2>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>