.ratio-3x4 {
  aspect-ratio: 3 / 2;
  display: flex;
  flex-direction: column;
  left: 50%;
  --backround: #ce98e3 !important;

}

.ratio-3x4 ion-card-content {
  flex: 1;
  overflow: auto;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers vertically */
  align-items: center;
  /* Centers horizontally */
  text-align: center;
  /* Ensures text lines align in the middle */
  height: 100%;
  /* Fills the 3x4 card height */
}

.term-style {
  margin: 0;
  font-size: 1.5rem;
  /* Shrink this if your terms are very long words */
  word-wrap: break-word;
  /* Forces long definitions to wrap to a new line */
  overflow-wrap: break-word;
}

.confidence-level-style {
  position: relative;
  top: 47%;
}