<!-- <ion-grid>
    <ion-row > 
        Setting col-12 on mobile, col-4 on tablets/desktop 
        means the card takes up 1/3 of the width of the row.
      -->
        <!-- <ion-col size="12" size-md="5">  -->
            <ion-card class="ratio-3x4" color="light">
                <ion-card-content class="flashcard"   (click)="switchSides()" class="flashcard">
                    @if(flashcardIn.frontSide){

                    <h1 class="term-style">
                        {{flashcardIn.term}}
                    </h1>
                    }
                    @else{

                    <h1 class="term-style">{{flashcardIn.definition}}</h1>
                    }
                    <p class="confidence-level-style">Confidence: {{flashcardIn.confidenceLevel}}</p>


                </ion-card-content>
            </ion-card>
         <!-- </ion-col> -->
    <!-- </ion-row>
</ion-grid> -->